div{
    margin:0px;
    padding:0px;
}

.admin_table{
    width:1200px;
    margin-left:200px;
    height:600px;
    margin-top:20px;
}

.con-title{
    width:1300px;
    margin-left:152px;
    background-color:white;
    height:34px;
}