form,body,ul,li{
	margin:0;
	padding:0;
}

body{
		overflow-x:hidden;
}

.head{
	position: fixed;
	background-color: #4C474E;
	height: 55px;
	width:100%;
    opacity:0.8;
	z-index:2;
}

.nav{
	margin:0 auto;
	height: 55px;
	width: 1440px;
}

.logo{
    margin:0px 30px 0px 140px; 	
	float: left;
}

.nav-con ul{
	margin:0 auto;
	height: 55px;
	width: 900px;
	float:left;
}



.nav-con li{
	list-style: none;
	float:left;
	width: 105px;
	text-align: center;
}

.nav-con a{
	text-decoration: none;
	display: inline-block;
	height: 55px;
	line-height: 55px;
	font-family: "微软雅黑";
	color: #fff;
}

.nav-con li:hover{
	margin: 0px auto;
}

.nav-con a:hover{
	color:#FF9537;
	font-weight: bold;
}

.con{
	top: 60px;
    position: relative;
    width:1400px;
    margin:0px auto;
}

.foot{
	background-color: #4C474E;
	height: 50px;
    width:100%;
	position: relative;
	bottom: -100px;
    z-index:2;
}

p.address{
	margin: 0px auto;
	padding:0px;
	vertical-align: middle;
	text-align: center;
	color: #767B7F;
    height:30px
}
.showtime{
    margin:0 auto;
    padding:0px;
    height:20px;
    text-align:center;
    color:#767B7F;
    margin-left:45%;
}

span.login{
    margin-top:0px;
    margin-left:40px;
    float:left;
    height:55px;
    line-height:55px;
}

.loginbtn{
    background-image:url("image/loginbtnbg.png";
}

