.con-title{
    width:1350px;
    margin-left:0px;
    padding:0px;
    height:100px;
}

.contain{
    width:1350px;
    height:800px;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:-50px;
    padding-top:3px;
    background-color:#D5DCE1;
}

.table-title{
    padding-left:20px;
    background-color:#4C80BA;
    color:white;
    display:inline-block;
    width:700px;
    height:40px;
    line-height:40px;
}

.contable{
    margin-left:170px;
    background-color:yellow;
}

.spacename{
    text-align:center;
    font-size:xx-large;
    height:80px;
    background-color:black;
    line-height:80px;
    color:white;
}
.space{
     text-align:center;
    font-size:xx-large;
    height:80px;
    background-color:black;
    line-height:80px;
    color:white;
}