.con-title{
    width:1350px;
    margin-left:0px;
    padding:0px;
    height:243px;
}

.contain{
    width:1350px;
    height:600px;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:-50px;
    background-color:#D5DCE1;
}