<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Connection" connectionString="Data Source=.;Initial Catalog=AIFORUM;Integrated Security=True" />
    <add name="AIFORUMConnectionString" connectionString="Data Source=.;Initial Catalog=AIFORUM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>