/*
 整站基础样式 - 不要将页面、模块级别的css 写到这里
 */
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  color: #333;
  margin: 0 !important;
  padding: 0 !important;
  /* font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","9ED14F53",Arial,sans-serif; */
    font-family: 'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif;
  background-color: #f3f3f3;
  overflow-y: hidden;
  font-size:13px;
  height:100%;
}


a,a:hover, a:focus {
    text-decoration: none;
    cursor: pointer;
}

/***
Colors
***/
.color-yellow{color:#ffc000!important;}
.color-green{ color:#47c68c!important;}
.colorGreen{ color:#47c68c!important;}
.color-blue{  color:#4b98e7!important;}
.color-red { color: #e02222!important;}
.color-pink { color: #e36d7b!important;}
.color-gray3 { color: #333!important;}
.color-gray6 { color: #666!important;}
.color-gray9 { color: #999!important;}
.color-grayc { color: #ccc!important;}
.color-purple { color: #852b99!important;}
.color-light-red { color: #ff5400!important;}
.color-light-blue { color: #bfd5fa!important;}
.color-light-grey { color: #fafafa!important;}
.color-light-green { color: #78df1d!important;}

/***
bg-color
***/

.bg-white{background-color:#ffffff;!important;}
.bg-green{background-color:#47c68c;!important;}
.bg-green2{background-color:rgba(71,198,140,0.7);!important;}
.bg-blue1{background-color:#4b98e7;!important;}
.bg-blue2{background-color:#61bde8;!important;}
.bg-blue3{background-color:#2ecafd;!important;}
.bg-purple{background-color:#a0a6f0;!important;}
.bg-purple2{background-color:rgba(160,166,240,0.7);!important;}
.bg-yellow{background-color:#f4ba1f;!important;}

.f-size13{
    font-size: 13px;
}

/*********************
 GENERAL RESET & SETUP
*********************/

/***
General typography
***/
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    color:#333;
    margin:0 0 0 0;
    padding:0 0 0 0;
    line-height: normal;
}
h1.block, h2.block, h3.block, h4.block, h5.block, h6.block {
    padding-bottom: 10px;
}
h1{font-size: 24px;}
h2 a:hover {
    color: #0da3e2;
    text-decoration: none;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

h3 {
    font-size: 14px;
}


/***
ie8 & ie9 modes
***/
.visible-ie8 {
    display: none;
}

.ie8 .visible-ie8 {
    display: inherit !important;
}

.visible-ie9 {
    display: none;
}

.ie9 .visible-ie9 {
    display: inherit !important;
}

.hidden-ie8 {
    display: inherit;
}

.ie8 .hidden-ie8 {
    display: none !important;
}

.hidden-ie9 {
    display: inherit;
}

.ie9 .hidden-ie9 {
    display: none !important;
}

/***
General More Link
***/
a.more {
    font-size: 13px;
    font-weight: 400 !important;
}

a.more i {
    font-size: 12px;
}

/***
Fix link outlines after click
***/
a,a:focus, a:hover, a:active {
    outline: 0;
}

/***
IE8 fix for form input height in fluid rows
***/
.ie8 .row-fluid [class*="span"] {
    min-height: 20px !important;
}

/***
Fix grid offset used for reponsive layout handling(refer app.js=>handleResponsive)
***/
.fix-offset {
    margin-left: 0 !important;
}

/***
Misc tools
***/
.clearfix {
    clear: both;
}


.margin-top-0 {
    margin-top: 0 !important;
}
.margin-top-5 {
    margin-top: 5px !important;
}
.margin-top-10 {
    margin-top: 10px !important;
}
.margin-top-15 {
    margin-top: 15px !important;
}
.margin-top-20 {
    margin-top: 20px !important;
}
.margin-top-30 {
    margin-top: 30px !important;
}
.margin-top-50 {
    margin-top: 50px !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.margin-bottom-15 {
    margin-bottom: 15px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-bottom-25 {
    margin-bottom: 25px !important;
}
.margin-bottom-30 {
    margin-bottom: 30px !important;
}
.margin-bottom-40 {
    margin-bottom: 40px !important;
}
.margin-bottom-40 {
    margin-bottom: 40px !important;
}
.margin-bottom-50 {
    margin-bottom: 50px !important;
}
.margin-right-10 {
    margin-right: 10px !important;
}
.margin-right-15 {
    margin-right: 15px !important;
}
.margin-right-20 {
    margin-right: 20px !important;
}
.margin-right-50 {
    margin-right: 50px !important;
}
.margin-left-0 {
    margin-left: 0 !important;
}
.margin-left-5 {
    margin-left: 5px !important;
}
.margin-left-10 {
    margin-left: 10px !important;
}
.margin-left-20 {
    margin-left: 20px !important;
}
.margin-left-30 {
    margin-left: 30px !important;
}

.padding-left-0 {
    padding-left: 0 !important;
}
.padding-left-5 {
    padding-left: 5px !important;
}
.padding-left-10 {
    padding-left: 10px !important;
}
.padding-left-15 {
    padding-left: 15px !important;
}
.padding-left-20 {
    padding-left: 20px !important;
}
.padding-left-25 {
    padding-left: 25px !important;
}
.padding-left-30 {
    padding-left: 30px !important;
}
.padding-right-15{
    padding-right:15px !important;
}
.padding-right-20{
    padding-right:20px !important;
}
.padding-20 {
    padding: 20px !important;
}
.hide {
    display: none;
}
.bold {
    font-weight:bold !important;
}
.border-bottom {
    border-bottom: 1px solid #e9e9e9
}
/* overides metro scrolbars in IE10 and makes them look like a default scrollbar */
@-ms-viewport{
    width: auto !important;
}

.tab-style-1 .row [class*="col-"] {
    padding-left:0;
}

.tab-style-1 ul.nav-tabs {
    margin-bottom: 0;
    border-bottom: 2px solid #428bca;
}

.tab-style-1 ul.nav-tabs > li {
    margin-bottom: 0;
    margin-right: 3px;
}

.tab-style-1 ul.nav-tabs li > a {
    color: #428bca;
    font-size: 16px;
    margin-top: 1px;
    min-width: 100px;
    padding: 8px 15px 5px;
    text-align: center;
    font-weight: bold;
    background: #fff;
    border: 1px solid #dddddd;
    border-bottom: 1px solid #fff;
}

.tab-style-1 ul.nav-tabs li > a:hover {
    color: #fff;
    background: #0da3e2;
    border-color: #0da3e2;
}

.tab-style-1 ul.nav-tabs .active > a,
.tab-style-1 ul.nav-tabs .active > a:hover,
.tab-style-1 ul.nav-tabs .active > a:focus {
    color: #fff;
    background: #0da3e2;
    border-color: #0da3e2;
}

.tab-style-1 .tab-content {
    padding: 20px 15px;
    background: #fafafa;
}

.tab-style-1 .tab-content p {
    margin-bottom: 0;
}

.tab-style-1 .tab-content img {
    margin: 5px 0 10px;
}

.tab-style-1 .tab-content .account-text p{
    margin-bottom: 10px;
}

.tab-content-white{
    background-color: #fff !important;
}

.tab-style-1 ul.nav-tabs .active > a .badge,
.tab-style-1 ul.nav-tabs a:hover .badge{
    background-color: #fff !important;
    color: #000;
}

.tab-style-1 ul.nav-tabs li .badge{
    margin-top: -10px;
    margin-right: -8px;
    margin-left: 5px;
}

/* Checkboxes */
.form-group .checkbox {
    padding-left: 0;
}

.checkbox-list > label {
    display: block;
}

.checkbox-list > label.checkbox-inline {
    display: inline-block;
    padding-left: 5px;
}

.checkbox-list > label.checkbox-inline:first-child {
    padding-left: 0;
}

/* Radios */

.radio-list > label {
    display: block;
}

.radio-list > label.radio-inline {
    display: inline-block;
}

.radio-list > label.radio-inline:first-child {
    padding-left: 0;
}

.form-horizontal .radio-list .radio {
    position: relative;
    top: -1px;
    padding-top: 0;
}
/* Rows seperated form layout */
.form-row-seperated .form-group {
    margin: 0;
    border-bottom: 1px solid #efefef;
    padding: 10px 10px 10px 0;
}

.form-row-seperated .form-group.last {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.form-row-seperated .form-actions {
    margin-top: 0;
}

.form-row-seperated .form-body {
    padding: 0;
    margin-top: 0;
}

.form-row-seperated .help-block {
    margin-bottom: 0;
}

/* form bordered */
.form-bordered .form-body {
    margin: 0;
    padding: 0;
}

.form-bordered .form-actions {
    margin-top: 0;
}

.form-bordered .form-group {
    margin: 0;
    border-bottom: 1px solid #efefef;
}

.form-bordered .form-group.last {
    border-bottom: 0;
}

.form-bordered .help-block {
    margin-bottom: 0;
}

.form-bordered .control-label {
    padding-top: 16px;
}

.form-bordered .form-group > div {
    padding: 10px;
    border-left: 1px solid #efefef;
}

.form-bordered .form-actions.fluid > .row > div {
    padding-left: 10px;
}

.form-horizontal.form-bordered.form-row-stripped .form-group:nth-child(even) {
    background-color: #fcfcfc;
}

.form-horizontal.form-bordered.form-label-stripped .form-group:nth-child(even) {
    background-color: #fcfcfc;
}

.form-horizontal.form-bordered.form-row-stripped .form-control {
    background: #fff !important;
}

.form-horizontal.form-bordered.form-label-stripped .form-group:nth-child(even) > div {
    background-color: #ffffff;
}

/***
Bordered form layout
***/

.form-bordered .form-control {
    margin: 0;
}

/* ▼ 弹出窗口 css   */
/*!
 * Bootstrap Modal
 *
 * Copyright Jordan Schroter
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Boostrap 3 patch for for bootstrap-modal. Include BEFORE bootstrap-modal.css!
 */
body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    margin-right: 0;
}
div > div > .modal{
    overflow-y: auto;
    /*fixed react-bootstrap modal*/
}
.modal-scrollable .modal {
    left: 50%;
    bottom: auto;
    right: auto;
    padding: 0 15px;
    margin-left: -250px;
    background-color: #f3f3f3;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    border:5px solid #f4f4f4;
    border-top-left-radius:5px!important;
    border-top-right-radius:5px!important;
}

.modal.container {
    max-width: none;
}
/*!
 * Bootstrap Modal
 *
 * Copyright Jordan Schroter
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */

.modal-open {
    overflow-y: scroll;
}


/* add a scroll bar to stop page from jerking around */
.modal-open.page-overflow .page-container,
.modal-open.page-overflow .page-container .navbar-fixed-top,
.modal-open.page-overflow .page-container .navbar-fixed-bottom,
.modal-open.page-overflow .modal-scrollable {
    overflow-y: auto;
}

.modal-scrollable {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.modal-scrollable .modal {
    outline: none;
    position: absolute;
    margin-top: 0;
    top: 50%;
    overflow: visible; /* allow content to popup out (i.e tooltips) */
}

.modal.fade {
    top: -100%;
    -webkit-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
    -o-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
    transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
}

.modal.fade.in {
    top: 50%;
}
.modal-header{
    padding:15px 0 ;
}
.modal-body {
    max-height: none;
    overflow: visible;
    padding: 20px 0;
}
.modal-footer{
    padding:15px 0;
    margin-top: 0px;
}
.modal.modal-absolute {
    position: absolute;
    z-index: 950;
}

.modal-scrollable .modal .loading-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-radius: 6px;
}

.modal-backdrop.modal-absolute{
    position: absolute;
    z-index: 940;
}

.modal-backdrop,
.modal-backdrop.fade.in{
    opacity: 0.7;
    filter: alpha(opacity=70);
    background: #000;
}

.modal.container {
    width: 940px;
    margin-left: -470px;
}
.modal-title small{
    font-size: .7em;
    color: #f7571f;
}
/* Modal Overflow */

.modal-overflow.modal {
    top: 1%;
}

.modal-overflow.modal.fade {
    top: -100%;
}

.modal-overflow.modal.fade.in {
    top: 1%;
}

.modal-overflow .modal-body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}


/* Responsive */

@media (min-width: 1200px) {
    .modal.container {
        width: 1200px;
        margin-left: -585px;
    }
}

@media (max-width: 979px) {
    .modal,
    .modal.container,
    .modal.modal-overflow 	{
        top: 1%;
        right: 1%;
        left: 1%;
        bottom: auto;
        width: auto !important;
        height: auto !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .modal.fade.in,
    .modal.container.fade.in,
    .modal.modal-overflow.fade.in {
        top: 1%;
        bottom: auto;
    }

    .modal-body,
    .modal-overflow .modal-body {
        position: static;
        margin: 0;
        height: auto !important;
        max-height: none !important;
        overflow: visible !important;
    }

    .modal-footer,
    .modal-overflow .modal-footer {
        position: static;
    }
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -12px 0 0 -12px;
}

/*
Animate.css - http://daneden.me/animate
Licensed under the ☺ license (http://licence.visualidiot.com/)

Copyright (c) 2012 Dan Eden*/

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
    0%, 100% {-moz-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
    0%, 100% {-o-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
}

/*
 * Toastr
 * Version 2.0.1
 * Copyright 2012 John Papa and Hans Fjällemark.
 * All Rights Reserved.
 * Use, reproduction, distribution, and modification of this code is subject to the terms and
 * conditions of the MIT license, available at http://www.opensource.org/licenses/mit-license.php
 *
 * Author: John Papa and Hans Fjällemark
 * Project: https://github.com/CodeSeven/toastr
 */
.toast-title {
    font-weight: bold;
}
.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.toast-message a,
.toast-message label {
    color: #ffffff;
}
.toast-message a:hover {
    color: #cccccc;
    text-decoration: none;
}

.toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}
.toast-close-button:hover,
.toast-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40);
}

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}
.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}
.toast-top-left {
    top: 12px;
    left: 12px;
}
.toast-top-right {
    top: 12px;
    right: 12px;
}
.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}
.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}
#toast-container {
    position: fixed;
    z-index: 999999;
    /*overrides*/

}
#toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#toast-container > div {
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999999;
    -webkit-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
    color: #ffffff;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}
#toast-container > :hover {
    -moz-box-shadow: 0 0 12px #000000;
    -webkit-box-shadow: 0 0 12px #000000;
    box-shadow: 0 0 12px #000000;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    cursor: pointer;
}
#toast-container > .toast-info {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-error {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}
#toast-container > .toast-success {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}
#toast-container > .toast-warning {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
    width: 96%;
    margin: auto;
}
.toast {
    background-color: #030303;
}
.toast-success {
    background-color: #51a351;
}
.toast-error {
    background-color: #bd362f;
}
.toast-info {
    background-color: #2f96b4;
}
.toast-warning {
    background-color: #f89406;
}
/*Responsive Design*/
@media all and (max-width: 240px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 11em;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}
@media all and (min-width: 241px) and (max-width: 480px) {
    #toast-container > div {
        padding: 8px 8px 8px 50px;
        width: 18em;
    }
    #toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}
@media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container > div {
        padding: 15px 15px 15px 50px;
        width: 25em;
    }
}

/* ▲ 弹出窗口 css   */


/* 上传 按钮 样式 */
.fileinput-button {
    position: relative;
}
.fileinput-button .help-block{
    position: absolute;
    left: 0;
    top: 36px;
}
.has-error .fileinput-button{
    margin-bottom: 30px;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(0, 0) scale(1);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
    width: 100%;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}
.progress-animated .progress-bar,
.progress-animated .bar {
    background: url(../img/common/progressbar.gif) !important;
    filter: none;
}
.fileupload-loading {
    float: right;
    width: 32px;
    height: 32px;
    background: url(../img/common/loading.gif) center no-repeat;
    background-size: contain;
    display: none;
}
.fileupload-processing .fileupload-loading {
    display: block;
}
.files audio,
.files video {
    max-width: 300px;
}

@media (max-width: 767px) {
    .fileupload-buttonbar .toggle,
    .files .toggle,
    .files .btn span {
        display: none;
    }
    .files .name {
        width: 80px;
        word-wrap: break-word;
    }
    .files audio,
    .files video {
        max-width: 80px;
    }
}

.pagination-page-num{
    outline: none;
    width: 45px;
    text-align: center;
    border: 1px solid #c6c8c8;
    padding: 6px 0;
    margin-top: -4px;

}
.grid-pagination-wrap{
    padding: 15px 10px 8px;
    text-align: center;
}
/* .show {
    display: inline-block!important;
} */
.pull-right{
    float: none!important;
}
.grid-pagination-info{
    color: #8b8b8b;
    display: inline-block;
    position: relative;
    top: -12px;
}
.grid-pagination-btn{
    background: #f8fdfc;
    color: #333333;
    border: 1px solid #aec8bb;
    padding: 0;
    vertical-align: top;
    margin-top: -4px;
    min-width: 60px;
    border-radius: 4px;
    height:30px;
}
.grid-pagination-wrap .pagination{
    margin: -5px 10px 0 0;
}
.pagination>li{
    cursor: pointer;
}
.pagination>li>a, .pagination>li>span,.pagination-page-num{
    border-radius: 4px;
    padding: 4px 10px;
    height:30px;
}
.grid-pagination-wrap .pagination a{
    color: #000;
}
.grid-pagination-wrap .pagination .active > a{
    background: #42caa2 !important;
    color: #fff;
    border-color:#42caa2;
}

.grid-pagination-wrap .pagination a:hover{
    border: 1px solid #42caa2;
}
.grid-pagination-wrap .pagination>li.pager-split a{
    border:none;
    background: none;
    cursor: text;
}

.grid-pagination-wrap .pagination>li> a{
    margin: 0 3px;
}
.grid-pagination-wrap .pagination>li :hover{
    background: #fff;
}

.col-align-center th,.col-align-center td{
    text-align: center;
}
.col-align-center th.text-left,.col-align-center td.text-left{
    text-align: left;
}
.col-align-center th.text-right,.col-align-center td.text-right{
    text-align: right;
}
.button-next img,.button-next span{
    cursor: pointer;
}
.text-xs .form-control{
    width: 36px;
    padding: 5px;
}
.text-sm .form-control{
    width: 70px;
    padding: 5px;
}
.help-icon{
    font-size: 20px;
    margin-left: 5px;
    color: #eca22e;
    cursor: pointer;
}
.upload-prev-area{
    display: block;
    margin: 5px 0 0  0;
    padding: 0;
}
.upload-prev-area li{
    list-style-type: none;
    box-sizing: content-box;
    padding: 2px;
    border: 1px solid #dadada;
    width: 100px;
    height: 130px;
    float: left;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}
.upload-prev-area li{
    margin-right: 10px;
}
.upload-prev-area li .upload-prev-img-wrap{
    display: block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}
.upload-prev-area li .upload-prev-img{
    height: 100px;
    width: auto;
}
.upload-prev-area li.upload-file{
    border: none;
    padding: 2px;
    width: 80px;
    height: 45px;
    text-align: center;
}
.upload-prev-area  .upload-file .btn{
    position: absolute;
    top: 7px;
    left: 35px;
}
.upload-prev-area li .upload-prev-file-wrap{
    display: block;
    width: 50px;
    height: 45px;
    overflow: hidden;
    cursor: pointer;
    margin-left: -5px;
}
.upload-prev-area li .upload-prev-file{
    height: 43px;
    width: auto;
}

.area-select{
    width: 46%;
    display: inline-block;
}
.area-select+.area-select{
    margin-left: 4%;
}
.form-horizontal .help-wrap{
    border-top: 1px solid #e5e5e5;
    padding-top: 5px;
    margin: 0 20px -10px;
    line-height: 34px;
}
.qq-help{
    display: inline-block;
    width: 63px;
    height: 16px;
    margin-bottom: -3px;
    background: url("../img/common/qq-help.jpg") no-repeat 0 0;
    cursor: pointer;
}
.input-text-hidden{
    width:0;
    height: 0;
    display: inline-block;
    border: 0;
}

.margin-left-15{
    margin-left: 15px !important;
}
.split{
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #0da3e2;
}

.sub-inline > *{
    display: inline-block;
}

.form-horizontal .help-block{
    display: none;
}

.form-horizontal .has-error .help-block{
    display: block;
}
.form-group .help-block{
    margin-bottom: 0;
}
.has-error .checkbox-list,.has-error .checkbox{
    padding-bottom: 20px;
}
.checkbox-list .help-block,.checkbox .help-block{
    visibility: hidden;
}
.has-error .checkbox-list .help-block,.has-error .checkbox .help-block{
    visibility: visible;
    position: absolute;
    text-align: left;
    left: 0;
    top: 30px;
    width: 300px;
    height: 25px;
    background: none;
}

.has-error .date-picker{
    padding-bottom: 20px;
}
.date-picker .help-block{
    display: none;
}
.has-error .date-picker .help-block{
    display: block;
    position: absolute;
    text-align: left;
    left: 0;
    top: 30px;
    width: 300px;
    height: 25px;
    background: none;
}
.has-error .date-picker .input-group-btn{
    border: 1px solid #b94a48;
    border-left: 0;
}
.has-error .date-picker .input-group-btn .btn{
    padding: 6px 12px;
}
.table{
    position: relative;
}
.table .loading-mask{
    z-index: 10;
    background-color: rgba(255,255,255,.8);
}
.ie8 .table .loading-mask{
    background-color: #fff;
    filter:alpha(opacity=90);
}
.grid-list-wrap .loading-mask{
    z-index: 10;
    background-color: rgba(255,255,255,.8);
}
.ie8 .grid-list-wrap .loading-mask{
    background-color: #fff;
    filter:alpha(opacity=90);
}
.loading-spinner-wrap{
    width: 40%;
    margin: 10px auto 10px;
}
.loading-mask .loading-spinner-wrap {
    margin: -75px 0 0 -237px;
    position: absolute;
    top: 50%;
    left: 50%;
}
.width-auto{
    width: auto !important;
}
.over-hidden{
    overflow: hidden;
}


/* 高亮样式 */
.Animations-fadeInOut{
    -webkit-animation: fadeInOut 2s infinite ; /* Chrome, Safari, Opera */
    animation: fadeInOut 2s infinite ;
    background-color: #ff3a24 !important;

}
/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInOut {
    0% {opacity: 0.8; }
    50% {opacity: 0.4}
    100% {opacity: 0.8}
}

/* Standard syntax */
@keyframes fadeInOut {
    0% {opacity: 0.8}
    50% {opacity: 0.4}
    100% {opacity: 0.8}
}

/* loading css */
/* .spinner {
    margin: 0 auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
 */
@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.form-control{
    border-radius: 0;
    border: 1px solid #dedede;
}
.form-control:focus {
    border-color: #46c68b;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(70, 198, 139, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(70, 198, 139, 0.6);
}
.label-primary {
    color: #fff;
    background-color: #47c68c;
    border-color: #46c68b;
}
.btn{
    font-size:13px;
}
.btn-default {
    color: #666;
}
.btn-default>.fa{
    /* color:#ccc; */
}
.btn-primary {
    color: #fff;
    background-color: #47c68c;
    border-color: #46c68b;
}
.btn-primary:hover, .btn-primary:focus {
    color: #fff;
    background-color: #47c68c;
    border-color: #46c68b;
}
.btn-primary:active, .btn-primary.active {
    color: #fff;
    background-color: #47c68c;
    border-color: #46c68b;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-warning.disabled, .btn-warning[disabled],
fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active,
.btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #ccc;
    border-color: #bbb;
}

.btn-warning{
    background-color: #ffc000;
    border-color: #ffc000;
}
.btn-warning:hover, .btn-warning:focus {
    background-color: #FFAE00;
    border-color: #EEA509;
}
.btn-warning:active, .btn-warning.active {
    background-color: #FFAE00;
    border-color: #EEA509;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-white{
    background-color: #fff;
    border-color: #e9e9e9;

    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.btn-white:hover, .btn-white:focus {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.btn-white:active, .btn-white.active {
    background-color: #f1f1f1;
    border-color: #ddd;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-white.disabled, .btn-white[disabled]{
    background-color: #f7f7f7;
    border-color:#bbb;
}
.btn-primary.disabled, .btn-primary[disabled],
.btn-primary.disabled:hover, .btn-primary[disabled]:hover,
.btn-primary.disabled:active, .btn-primary[disabled]:active,
.btn-primary.disabled.active, .btn-primary[disabled].active{
    border-color:#aaa;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary,.modal-footer .btn-primary:focus{
    color: #fff;
    background-color: #47c68c;
    border-color: #46c68b;
    outline: none;
}
.btn-link {
    padding: 2px 5px;
    font-size: 14px;
    color: #46c68b;
}
.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link {
    color: #46c68b;
}
.btn-lg{
    padding: 6px 16px;
}
.pointer{
    cursor:pointer;
}
.pointer i{
    color: #ccc;
}
.common_color-grey7a{
    color:#7a7a7a;
}
.common_color-grey66{
    color:#666;
}
.common_color-greybb{
    color:#bbb;
}
.common_color-black33{
    color:#333;
}
.table_underline{
      border-bottom: 1px solid #e6e6e6;
      white-space: nowrap;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      overflow: hidden;
      height:47px;
  }
.iconMutual:hover{
  color: #47c68c;
}
.originality{
    font-size: 12px;
    padding: 5px;
    background-color: #ffc000;
    color: white;
    margin: 0 3px 0 0;;
}
.articlesVideo{
    font-size: 20px;
    color: #47c68c;
    position: relative;
    top: 2px;
}
.groupmy_td{
    height: 30px;
    line-height: 30px;
    float: left;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #f7f7f7;
}
.compose-animotion{
    position: absolute;
    right: 20px;
    top: 8px;
    color: #47c68c;
    padding: 10px;
    border-radius: 20px;
    z-index: 2;
    font-size:18px;
}
i.fa.fa-loading {
    -webkit-animation: icon-loading 1s linear infinite;
    -ms-animation: icon-loading 1s linear infinite;
    animation: icon-loading 1s linear infinite
}

@keyframes icon-loading {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes icon-loading {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-ms-keyframes icon-loading {
    from {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
